{% extends 'classic/index.html.j2'%}

{% block footer_js %}
{% block yennefer_footer %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    var t = document.getElementById("notebook-container") || document.getElementById("dashboard-container") || document.getElementsByClassName("main-container")[0] || document.getElementsByClassName("bk-root")[0];
    if (t && t.offsetHeight) {
    var e = function(t) {
      try {
        var e = t.offsetHeight
        , n = getComputedStyle(t);
        return n && n.marginTop && n.marginBottom ? e += parseInt(n.marginTop) + parseInt(n.marginBottom) : null
      } catch (t) {
        return console.error("An error occurred in outerHeight"),
        null
      }
    }(t) + 30;
    null !== e && (
      parent.postMessage({
      iFrameHeight: e
    }, "*"))

    const as = document.querySelectorAll('.anchor-link');
    let alist = []
    as.length !== 0 && as.forEach(a => {
      const p = a.parentElement;
      alist.push({text: p.innerText, tagName: p.tagName})
    })
    alist.length !== 0 && parent.postMessage({index: alist}, "*");
  }});

  window.addEventListener('message', (e) => {
    if(!e.data.origin) return;
    const as = document.querySelectorAll('.anchor-link');
    as.length !== 0 && as.forEach(a => {
      const href =  `${e.data.origin.slice(0, e.data.origin.length)}${a.href.slice(a.href.indexOf('#'), a.href.length)}`.replace('.', '')
      a.href = href;
      a.target = '_parent';
      a.parentElement.id = `${a.parentElement.id}`.replace('.', '')
    })
  })

  window.addEventListener('message', (e) => {
    if(!e.data.anchorDestination) return;
    const uri = decodeURIComponent(e.data.anchorDestination).replace(/^#/, '');
    const anc = document.getElementById(uri);
    anc.scrollIntoView()
  })
  
  
</script>
{% endblock yennefer_footer %}

{% endblock footer_js %}

