{% extends 'classic/index.html.j2'%}

{% block html_head_css %}
<style type='text/css'>
#notebook-container.container {
    width: 100%;
    padding: 0;
  }
</style>
  
{% endblock html_head_css %}

{% block footer_js %}
{% block yennefer_footer %}
<script type="text/javascript">
  window.addEventListener('load', (event) => {
    var t = document.getElementById("notebook-container") || document.getElementById("dashboard-container") || document.getElementsByClassName("main-container")[0] || document.getElementsByClassName("bk-root")[0];
    if (t && t.offsetHeight) {
    var e = function(t) {
      try {
        var e = t.offsetHeight
        , n = getComputedStyle(t);
        return n && n.marginTop && n.marginBottom ? e += parseInt(n.marginTop) + parseInt(n.marginBottom) : null
      } catch (t) {
        return console.error("An error occurred in outerHeight"),
        null
      }
    }(t) + 30;
    null !== e && (
      parent.postMessage({
      iFrameHeight: e
    }, "*"))

    const as = document.querySelectorAll('h1, h2, h3');
    let alist = []
    as.length !== 0 && as.forEach((p, idx) => {
      const pid = Array.from(as).slice(0, idx).reverse().find(sliced => sliced.tagName.localeCompare(p.tagName) < 0);
      alist.push({text: p.innerText, id: p.id.replace('.', ''), tags: p.tagName, pid: pid ? pid.id.replace('.', '') : null});
    })
    alist.length !== 0 && parent.postMessage({index: alist}, "*");
  }});

  window.addEventListener('message', (e) => {
    if(!e.data.origin) return;
    
    const as = document.querySelectorAll('.anchor-link');
    as.length !== 0 && as.forEach(a => {
      const href =  `${e.data.origin.slice(0, e.data.origin.length)}${a.href.slice(a.href.indexOf('#'), a.href.length)}`.replace('.', '')
      a.href = href;
      a.target = '_parent';
      a.parentElement.id = `${a.parentElement.id}`.replace('.', '')
    })
  })

  window.addEventListener('message', (e) => {
    if(!e.data.anchorDestination) return;
    const uri = decodeURIComponent(e.data.anchorDestination).replace(/^#/, '');
    const anc = document.getElementById(uri);
    anc.scrollIntoView({behavior: 'smooth'})
  })
  
  
</script>
{% endblock yennefer_footer %}

{% endblock footer_js %}

